/*selector{
	property:value;
}*/


body{
	background-image: url(backgroundimg.jpg);
	background-size:cover;
}

h1{
	color:red;
	text-align: center;
	border: 5px dashed purple;
	cursor: pointer;
}

p{
	font-weight: bold;
	font-size:100%;
	font-family: 'Indie Flower', cursive;
}

li{
	list-style: none;
	display: inline;

}
footer{
	clear: both;
	text-align: center;
}